{% extends 'base.html' %}
<!---->
{% block content %}
<main>
  <div>
    <h1>My Tasks</h1>
    {% if task_list.all|length == 0 %}
    <p>You have no tasks</p>
    {% else %}
    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Start date</th>
          <th>End date</th>
          <th>Is completed</th>
        </tr>
      </thead>
      <tbody>
        {% for item in task_list.all %}
        <tr>
          <td>{{ item.name }}</td>
          <td>{{ item.start_date|date:"M d, Y" }}</td>
          <td>{{ item.due_date|date:"M d, Y" }}</td>
          {% if item.is_completed == False %}
          <td>
            <form method="POST" action="{% url 'complete_task' item.id %}">
              {% csrf_token %}
              <input type="hidden" name="is_completed" value="True" />
              <button>Complete</button>
            </form>
          </td>
          {% else %}
          <td>Done</td>
          {% endif %}
        </tr>
        {% endfor %}
      </tbody>
    </table>
    {% endif %}
  </div>
</main>
{% endblock content%}
