{% extends 'base.html' %} {% load markdownify %}
<!---->
{% block content %}
<main>
  <div>
    <h1>{{ project.name }}</h1>
    {{ project.description|markdownify }}
    <h2>Tasks</h2>
    <p><a href="{% url 'create_task' %}">Create a task</a></p>
    {% if project.tasks.all|length == 0 %}
    <p>This project has no tasks</p>
    {% else %}
    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Assignee</th>
          <th>Start date</th>
          <th>Due date</th>
          <th>Is completed</th>
        </tr>
      </thead>
      <tbody>
        {% for item in project.tasks.all %}
        <tr>
          <td>{{ item.name }}</td>
          <td>{{ item.assignee }}</td>
          <td>{{ item.start_date|date:"M d, Y"}}</td>
          <td>{{ item.due_date|date:"M d, Y" }}</td>
          {% if item.is_completed == True%}
          <td>Yes</td>
          {% else %}
          <td>No</td>
          {% endif %}
        </tr>
        {% endfor %}
      </tbody>
    </table>
    {% endif %}
  </div>
</main>
{% endblock content %}
