{% extends 'base.html' %}
<!---->
{% block content %}
<main>
  <div>
    <h1>My Projects</h1>
    <p><a href="{% url 'create_project' %}">Create a Project</a></p>
    {% if project_list.all|length == 0 %}
    <p>You are not assigned to any projects</p>
    {% else %}
    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Number of tasks</th>
        </tr>
      </thead>
      <tbody>
        {% for proj in project_list.all %}
        <tr>
          <td><a href="{% url 'show_project' proj.pk %}">{{ proj.name }}</td>
          <td>{{ proj.tasks.all|length }}</td>
          <td></td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    {% endif %}
  </div>
</main>
{% endblock content %}
